.card {
  background-color: #f3f3f3;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.text {
  font-family: "Oxygen";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #10020f;
  text-transform: uppercase;
}
.stat_list {
  display: flex;
  margin: 0;
  padding: 0;
}
.item {
  margin: 0;
  padding: 0;
  width: 86px;
  background-color: #908c9a;
  color: azure;
  margin: 0;
  padding: 16px;
  padding: 8px;
  justify-content: space-between;
}
.item:not(:last-child) {
    border-right: 0.5px solid azure;
}
.label {
  font-family: "Oxygen";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}
.percentage {
  font-family: "Oxygen";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.6;
}
